.product-detail {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-detail-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.product-detail-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.product-detail-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.product-detail-info h2 {
  font-size: 24px;
  font-weight: 600;
}
.product-detail-info p {
  font-size: 18px;
  font-weight: 400;
}
